/* ----- VARIAVEIS GLOBAIS ----- */

:root {
    /* Identidade Visual */
    --cor-primaria: #8B0000;         /* Vermelho Vinho (Logo, Botões, Títulos) */
    --cor-primaria-hover: #660000;   /* Vermelho Vinho Escuro */
    --cor-secundaria: #556B2F;       /* Verde Oliva (Botões Secundários, Ícones) */
    --cor-secundaria-hover: #445525; /* Verde Oliva Escuro */
    --cor-destaque: #4f6e42;         /* Verde Escuro (Sublinhados e Bordas) */
    --cor-vermelho-claro: #b52a2a;   /* Vermelho dos recheios */

    /* Cores de Fundo */
    --bg-principal: #FAF8F5;         /* Creme Elegante (Site inteiro) */
    --bg-secundario: #fbf9f6;        /* Creme Claro (Sessão Cardápio) */
    --bg-footer: #222222;            /* Cinza Escuro (Rodapé principal) */
    --bg-footer-dark: #111111;       /* Quase Preto (Base do Rodapé) */

    /* Cores de Texto */
    --texto-forte: #1a1a1a;          /* Títulos escuros */
    --texto-padrao: #333333;         /* Textos principais */
    --texto-suave: #444444;          /* Descrições */
    --texto-detalhe: #666666;        /* Descrições menores */
    --texto-branco: #ffffff;         /* Textos em fundos escuros */
    --texto-citacao: #dddddd;        /* Citações */
    --texto-rodape: #cccccc;         /* Textos do rodapé */
    --texto-rodape-dark: #888888;    /* Copyright do rodapé */
}

/* ----- RESET E CONFIGURAÇÕES GERAIS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: 'Gantari', sans-serif;
    background-color: var(--bg-principal); 
    color: var(--texto-padrao);
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4, .logo, .assinatura {
    font-family: 'Gantari', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 100px 0; 
}

.titulo-secao {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px; 
    color: var(--cor-primaria); 
}

.btn-primario {
    text-decoration: none;
    background-color: var(--cor-primaria);
    color: var(--texto-branco);
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 35px;
    transition: background 0.3s;
    font-weight: bold;
}

.btn-primario:hover {
    background-color: var(--cor-primaria-hover);
}

.btn-destaque {
    background-color: var(--cor-secundaria); 
    color: var(--texto-branco) !important;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-destaque:hover {
    background-color: var(--cor-secundaria-hover);
}

.efeito-fade {
    opacity: 0.6; /* Fica quase transparente (névoa) */
    filter: blur(5px); /* O desfoque estilo lente de câmera */
    transform: scale(0.97); /* Dá um leve recuo para trás */
    transition: opacity 0.8s ease, filter 0.8s ease, transform 0.8s ease;
    will-change: opacity, filter, transform;
}

section.efeito-fade {
    transform: none !important; 
}

.efeito-fade.visivel {
    opacity: 1;
    filter: blur(0); /* Tira o desfoque totalmente */
    transform: scale(1);
}

/* ----- RESPONSIVIDADE ----- */

@media (max-width: 768px) {
    html {
        scroll-padding-top: 170px;
    }

    section {
        padding: 60px 0;
    }
    .titulo-secao {
        font-size: 2rem;
    }
}