/* ----- BARRA DE NAVEGACAO ----- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--bg-footer);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--texto-rodape);
    padding-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link.ativo {
    color: var(--texto-branco);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-secundaria);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.ativo::after {
    width: 100%;
}

.social-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-links a {
    color: var(--texto-rodape);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.social-links a:hover {
    transform: translateY(-3px);
    color: var(--texto-branco);
}


.social-links a[aria-label="Facebook"]:hover { color: #1877F2; }
.social-links a[aria-label="Instagram"]:hover { color: #E4405F; }
.social-links a[aria-label="Linktree"]:hover { color: #43E660; }

/* ----- RESPONSIVIDADE ----- */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}